html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-flex{
    display: flex;
    flex-direction: row;
    background-color: #FFF5F5;
}

.flex-container > div {
    background-color: #BFBFBF;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.box {
    background-color: #BFBFBF;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}